<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disease</key>
	<array>
		<string>狗</string>
		<string>猫</string>
	</array>
	<key>Medicine</key>
	<array>
		<string>皮肤病药品</string>
		<string>抗菌消炎药</string>
		<string>耳眼口腔药</string>
		<string>体内驱虫药</string>
		<string>体外驱虫药</string>
		<string>疫苗注射类</string>
		<string>肠胃类药品</string>
		<string>心肝肾药品</string>
		<string>传染病药品</string>
		<string>常规药品类</string>
	</array>
	<key>near</key>
	<array>
		<string>主人</string>
		<string>宠物</string>
		<string>商家</string>
		<string>医院</string>
		<string>club</string>
	</array>
</dict>
</plist>
